<div  class="frame">
  <h1 mat-dialog-title style="font-weight: bold;">{{book.title}}</h1>
  <div mat-dialog-content class="container">
    <img src="{{book.smallThumbnailUrl}}" alt="{{book.title}}">
    <div class="content">
      <h2>Subtitle: {{book.subtitle}}</h2>
      <h2>Categories: {{book.categories}}</h2>
      <h2>Published date: {{book.publishedDate}}</h2>
      <h2>Author: {{book.author}}</h2>
      <p>Description: {{book.description}}</p>
      <div mat-dialog-actions>
        <button mat-stroked-button color="primary"(click)="onNoClick()" class="close-button">Close</button>
      </div>
    </div>
  </div>
</div>
