<div  class="frame">
  <h1 mat-dialog-title style="font-weight: bold;">{{book.title}}</h1>
  <div mat-dialog-content class="container">
    <img src="{{book.smallThumbnailUrl}}" alt="{{book.title}}">
    <div class="content">
      <h2>{{'language.subtitle' | translate }}: <span style="color:gray">{{book.subtitle}}</span></h2>
      <h2>{{'language.categories' | translate }}: <span style="color:gray">{{book.categories}}</span></h2>
      <h2>{{'language.publishedDate' | translate }}:  <span style="color:gray">{{book.publishedDate}}</span></h2>
      <h2>{{'language.authors' | translate }}:  <span style="color:gray">{{book.author}}</span></h2>
      <h3  style="font-weight: bold">Description:</h3>
      <p> {{book.description}}</p>
      <div mat-dialog-actions>
        <button mat-stroked-button color="primary" (click)="onNoClick()" class="close-button">{{'language.close' | translate }}</button>
      </div>
    </div>
  </div>
</div>
