<mat-toolbar color="primary" style="height:100px; padding-left: 10%; padding-right: 10%; margin-bottom: 1%">
  <span>
    <img src="https://www.adictiz.com/hs-fs/hubfs/Logos/Logos%20Adictiz/logo-Adictiz-main-menu.png?width=130&name=logo-Adictiz-main-menu.png" style="cursor: pointer" routerLink="">
  </span>
  <span class="example-spacer"></span>
    <mat-form-field appearance="fill" style="font-size: 80%; padding-top: 15px; min-width: 15%">
      <mat-label>Language</mat-label>
      <mat-select  [(value)]="selected">
        <mat-option value="fr">Fr <img src="../assets/images/france.svg" class="flag"></mat-option>
        <mat-option value="en">En <img src="../assets/images/uk.svg" class="flag"></mat-option>
      </mat-select>
    </mat-form-field>
</mat-toolbar>

<router-outlet></router-outlet>

<adz-footer></adz-footer>
