.container {
  align-content: center;
  padding-left: 10%;
  padding-right: 10%;
}

.image { grid-area: image; }
.information { grid-area: information; }

.grid-container-book {
  display: grid;
  grid-template-areas:
    'image image information information information'
    'image image information information information'
    'image image information information information';
  grid-gap: 10px;
}

.grid-container-book:hover {
  cursor: pointer;
}

.container-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(315px, 1fr));
  grid-gap: 16px;
}
.item {
  height: 150px;
  background-color: aliceblue;
  max-width: 100%;
  border-style: solid;
  border-width: 1px;
}

